In [34]:
A = "Hello world"
print (A)

Hello world

In [5]:
print (type("Hacktiv8"))

<class 'str'>

In [7]:
print("Hacktiv8")

Hacktiv8

In [8]:
print(type(True))

<class 'bool'>

In [10]:
print(type(False))

<class 'bool'>

In [33]:
n = 100
print (n)

100

In [32]:
n = 50
print (n)

50

In [31]:
a = b = c = 100
print (a,b,c)

100 100 100

In [36]:
var = 100
print (var)

100

In [35]:
var = 'var'
print (var)

var

In [37]:
_name = "Hacktiv8"
_Age  = 54
_has_laptops = True
print(_name, _Age, _has_laptops)

Hacktiv8 54 True

In [38]:
a = 10
b = 20
print (a+b)
k = 10

30

In [40]:
a = 4
b = 3
print ( a + b )
print ( a - b )
print ( a * b )
print ( a / b )
print ( a % b )
print ( a ** b)

7
1
12
1.3333333333333333
1
64

In [42]:
a = 10
b = 20
print ( a == b)
print ( a <= b)
print ( a >= b)

False
True
False

In [47]:
# + Operators
s = 'foo'
t = 40
u = 'baz'

print(s*t)

foofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoo

In [53]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [55]:
# Case Conversion
s = 'Bukhari'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Bukhari
bukhari
bUKHARI
Bukhari
BUKHARI

In [57]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [74]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

print (a == b)

False

In [77]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159, [1,2,3,4]]

In [80]:
a[::3]

[21.42, 4, 3.14159]

In [64]:
b = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [99]:
print (len(a+b))

8

In [88]:
a[-1] = 'Edited'

In [91]:
del a[-1]

In [94]:
c = a

In [96]:
del a[-1]

In [101]:
a = c

In [103]:
a

[21.42, 'foobar', 3, 4]

In [107]:
MLB_team = {
    1: 'Rockies',
    2: 'Red Sox',
    3: 'Twins',
    4: 'Brewers',
    5: 'Mariners'
    
    }

In [109]:
MLB_team [5]

'Mariners'

In [113]:
person = {}
print (type(person))

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

<class 'dict'>

In [115]:
person['children'] = person['children']+['new baby']

In [117]:
print(person)

{'fname': 'Hack', 'lname': 'PTP', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey', 'new baby', 'new baby'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [120]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True